@font-face {
    font-family: 'BebasNeue'; /*a name to be used later*/
    src: url(fonts/bebas_neue/BebasNeue-Regular.ttf); /*URL to font*/
}

body {
    margin: 8;
    background: rgb(28, 28, 28);
    background-image: linear-gradient(rgb(14, 14, 18), rgb(38, 39, 50), rgb(14, 14, 18));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: whitesmoke;
}

h1 {
    margin-top: 80px;
    text-align: left;
    word-wrap:break-word;
    max-width: 800px;
}

h1:after {
    content: " ";
    background: #3e3e49;
    width: 800px;
    height: 1px;
    display: block;
}

p {
    color: #d0d0d0;
    text-align: left;
    word-wrap:break-word;
    max-width: 800px;
}

p1 {
    font-family: "BebasNeue", sans-serif;
    font-size: 1.5em;
}

img {
    max-width: 500px;
}

-- Social Icons --
.social {
    padding: 15px;
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.social a{
    font-size: 30px;
    color: whitesmoke;
    filter: drop-shadow(0 0 0.2rem rgba(0, 255, 221, 0));
    padding: 5px;
    margin: 5px;
    display: inline-block;
    transition: background-color 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -webkit-transition: background-color 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -ms-transition: background-color 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -webkit-filter: drop-shadow(0 0 0.2rem rgba(0, 255, 221, 0));
}

.social a:hover {
    filter: drop-shadow(0 0 0.3rem yellow);
    transition: background-color 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -ms-transition: background-color 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -webkit-filter: drop-shadow(0 0 0.3rem yellow);
}

footer {
    margin: 50px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #0a0b0e00;
    color: #fff;
}

.btn {
    color: yellow;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #fffb00;
    border-radius: 20px;
    background-color: rgba(27, 29, 37, 0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    filter: drop-shadow(0 0 0.3rem yellow);
    -webkit-filter: drop-shadow(0 0 0.3rem yellow);
}
