@font-face {
    font-family: 'BebasNeue'; /*a name to be used later*/
    src: url(fonts/bebas_neue/BebasNeue-Regular.ttf); /*URL to font*/
}

:root {
    --main-max-width: 600px;
}

body {
    margin: 8;
    background: rgb(28, 28, 28);
    background-image: linear-gradient(rgb(14, 14, 18), rgb(38, 39, 50), rgb(14, 14, 18));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 100%;
    text-align: center;
    color: whitesmoke;
    max-width: 100%;
}

h1 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: var(--main-max-width);
    text-align: left;
    word-wrap:inherit;
    display: block;
}

h1:after {
    content: "";
    background: #3e3e49;
    word-wrap:inherit;
    max-width: var(--main-max-width);
    height: 0.25%;
    display: block;
}

p {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
    max-width: var(--main-max-width);
    color: #d0d0d0;
    text-align: left;
    word-wrap:inherit;
    display: block;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: yellow;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #d0d0d0;
    font-size: 20px;
    text-align: left;
    max-width: var(--main-max-width);
}

img {
    width: 100%;
    height: 20%;
    object-fit:scale-down;
}

-- Social Icons --
.social {
    padding: 15%;
    margin: 5%;
    position: relative;
    overflow: hidden;
    scale: 100%;
}

.social a{
    font-size: 200%;
    color: rgb(245, 245, 245);
    filter: drop-shadow(0 0 0.2rem rgb(0, 242, 255));
    padding: 5px;
    margin: 5px;
    display: inline-flexbox;
    transition: background-color 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -webkit-transition: background-color 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -ms-transition: background-color 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -webkit-filter: drop-shadow(0 0 0.2rem rgb(0, 242, 255));
}

.social a:hover {
    color: whitesmoke;
    filter: drop-shadow(0 0 0.5rem rgb(0, 242, 255));
    transition: background-color 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -ms-transition: background-color 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -webkit-filter: drop-shadow(0 0 0.5rem rgb(0, 242, 255));
}

.QRCode {
    padding-top: 50px;
    padding-bottom: 0px;
    width: 100%;
    height: 20%;
    object-fit:scale-down;

}

p3 {
    padding-bottom: 50px;
    text-align: center;
}

.btn {
    font-size: 15px;
    max-width: 70%;
    min-width: 100%;
    color: yellow;
    text-decoration: none;
    padding: 0.5em;
    border: 0.15em solid #fffb00;
    border-radius: 20em;
    background-color: rgba(27, 29, 37, 0);
    -webkit-border-radius: 20em;
    -moz-border-radius: 20em;
    -ms-border-radius: 20em;
    -o-border-radius: 20em;
    filter: drop-shadow(0 0 0.0rem yellow);
    -webkit-filter: drop-shadow(0 0 0.0rem yellow);
    transition: filter 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -webkit-transition: filter 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -moz-transition: filter 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -ms-transition: filter 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
    -o-transition: filter 0.5s ease-in, color 0.5s ease-in, filter 0.5s ease-in;
}

.btn:hover {
    font-size: 15px;
    max-width: 70%;
    min-width: 100%;
    filter: drop-shadow(0 0 0.5rem yellow);
    transition: filter 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -webkit-filter: drop-shadow(0 0 0.5rem yellow);
    -webkit-transition: filter 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -moz-transition: filter 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -ms-transition: filter 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
    -o-transition: filter 0.5s ease-out, color 0.5s ease-out, filter 0.5s ease-out;
}